<div> {{ name }}</div>
<app-card *ngFor="let card of tableSection.openCards" [card]="card" (clicked)=openCardClicked(card)></app-card>
<div *ngIf="tableSection.closedCards.length > 0" class="closed-stack" (click)=closedCardsClicked()> {{tableSection.closedCards.length}} </div>