<button class="table--go-back" (click)="leaveTable()">Verlaat het spel</button>
<button (click)="returnAllCards()">Alle kaarten terugroepen</button>
<button (click)="shuffleCards()">Schudden</button>
<button (click)="coupCards()">Overhalen</button>
<button (click)="dealCards()">Delen (7 en 6)</button>

<ng-container *ngIf="!!table">
    <div *ngIf="mainSectionHasCards()" class="table--top-bar">
        <app-table-section
            class="table table--main-section"
            [name]="'main'"
            [tableSection]="table.mainSection"
            (clickedOpenCard)="takeCardFromMainSection($event)"
            (clickedClosedCards)="collectMainClosedCards()"></app-table-section>
    </div>
    <div *ngIf="sideSectionHasCards()" class="table--top-bar">
        <app-table-section
            class="table table--side-section"
            [name]="'side'"
            [tableSection]="table.sideSection"
            (clickedOpenCard)="takeCardFromSideSection($event)"
            (clickedClosedCards)="collectSideClosedCards()"></app-table-section>
    </div>

    <div class="table--player-sections">
        <div *ngFor="let id of playerIds" class="table table--player-section">
            <app-table-section
                [name]="table.players[id].name"
                [tableSection]="table.playerSections[id]"
                (clickedOpenCard)="takeCardFromPlayerSection($event, id)"
                (clickedClosedCards)="collectPlayerClosedCards(id)"></app-table-section>
        </div>
    </div>

    <div class="table table--player">
        <app-player [player]=table.players[playerId] (cardPlayed)="playCard($event)" (sortHand)="sortHand(playerId)"></app-player>
    </div>
</ng-container>

<button class="table--get-open-cards" (click)="collectOpenCards()">Raap slag op</button>