.table {
    &--go-back {
        display: block;
    }

    &--top-bar {
        display: block;
    }

    &--player-sections {
        display: block;
    }

    &--player-section {
        display: inline-block;
        min-width: 200px;
        min-height: 200px;
    }

    &--main-section {
        display: inline-block;
        min-width: 200px;
        min-height: 200px;
    }
}