<button (click)="leaveLobby()">Ga terug</button>
<p>Klik op een pincode om een server te joinen</p>
<div *ngFor="let table of tables" (click)="chooseTable(table.id)" class="lobby--table">
    {{table.id}}
</div>
<button (click)="createTable()">Add a table</button>