.card {

    border: solid;
    display: inline-block;
    margin: 3px;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 1.3em;
    
    &--vertical {
        width: 40px;
        min-width: 40px;
        height: 70px;
        min-height: 70px;
    }
    &--horizontal {
        width: 40px;
        min-width: 40px;
        height: 70px;
        min-height: 70px;
    }
    &--♠, &--♣ {
        color: black;
    }
    &--♥, &--♦ {
        color: red;
    }
}