<div class="app">
    <app-name-selector *ngIf=!hasName()
                   [name]="previousName"
                   (nameSelected)="setName($event)"></app-name-selector>

    <app-lobby *ngIf="hasName() && !hasTableId()"
           (choseTable)="joinTable($event)"
           (leftLobby)="clearName()"></app-lobby>

    <app-table *ngIf="hasPlayerId() && hasTableId()"
               [tableId]="tableId"
               [playerId]="playerId"
               [playerName]="name"
               (leftTable)="leaveTable()"></app-table>
</div>
