<form [formGroup]="formGroup">
    <label for="name">Vul jouw naam in: </label>
    <input type="text" id="name" name="name" formControlName="name"/>
    <br>
    <button type="button" (click)=setName()>Opslaan</button>
</form>